<MudCard>
    <EditForm Model="@_model" OnValidSubmit="SubmitAsync">
        <FluentValidationValidator @ref="_fluentValidationValidator"/>
        <MudCardContent>
            <div class="d-flex justify-center">
                <MudIcon Icon="" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 100px; height: 100px;"/>
            </div>
            <MudTextField Label="Current Password" Variant="Variant.Outlined"
                          @bind-Value="_model.Password" For="@(() => _model.Password)"
                          InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility"/>
            <MudTextField Label="New Password" Variant="Variant.Outlined"
                          @bind-Value="_model.NewPassword" For="@(() => _model.NewPassword)"
                          InputType="@_newPasswordInput" Adornment="Adornment.End" AdornmentIcon="@_newPasswordInputIcon" OnAdornmentClick="ToggleNewPasswordVisibility"/>
            <MudTextField Label="Confirm New Password" Variant="Variant.Outlined"
                          @bind-Value="_model.ConfirmNewPassword" For="@(() => _model.ConfirmNewPassword)"
                          InputType="@_confirmPasswordInput" Adornment="Adornment.End" AdornmentIcon="@_confirmPasswordInputIcon" OnAdornmentClick="ToggleConfirmPasswordVisibility"/>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>
        </MudCardActions>
    </EditForm>
</MudCard>